@import './colours';

html {
    font-family: Inter, sans-serif;
    line-height: 1.5;
}

header {
    background: $uob-dark-purple;
    color: #ffffff;
    padding-left: 1ex;
}

header a, header a:visited {
    color: inherit;
    text-decoration: none;
}

nav {
    border-right: 1px solid $uob-grey;

    @media (max-width: 999px) {
        display: none;
    }
}

main > * {
    max-width: 50rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.layout {
    display: grid;
    
    @media (min-width: 1000px) {
        grid-template-columns: 300px 1fr;
    }

    @media (max-width: 999px) {
        grid-template-columns: 1fr;
    }
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

main h1, main h2, main h3, main h4 {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 12px;
}

a, a:visited {
    color: $uob-dark-purple;
}

nav li {
    list-style: none;
}

pre.highlight {
    border: 1px solid $uob-grey;
    padding: 1ex;
}

p > code {
    border: 1px solid $uob-grey;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid $uob-grey;
    padding-left: 1ex;
    padding-right: 1ex;
}

blockquote {
    border-left: 5px solid $uob-purple;
    padding-left: 1em;
}

blockquote > p:first-child {
    margin-top: 0;
}

blockquote > p:last-child {
    margin-bottom: 0;
}

.info {
    background-color: mix($uob-purple, white, 20%);
    border-left: 3px solid $uob-dark-purple;
    padding: 5px;
    padding-left: 1em;
}

.warning {
    background-color: mix($uob-red, white, 20%);
    border-left: 3px solid $uob-red;
    padding: 5px;
    padding-left: 1em;
}

.warning::before {
    content: "WARNING";
    font-size: 0.8em;
    display: block;
    color: $uob-red;
    font-weight: 600;
}