---
---

@use 'colours';
@import "normalize.css";

html {
    font-family: Inter, sans-serif;
    line-height: 1.5;
}

header {
    background: colours.$uob-dark-purple;
    color: #ffffff;
    padding-left: 1ex;
}

nav {
    border-right: 1px solid colours.$uob-grey;

    @media (max-width: 999px) {
        display: none;
    }
}

main > * {
    max-width: 50rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.layout {
    display: grid;
    
    @media (min-width: 1000px) {
        grid-template-columns: 300px 1fr;
    }

    @media (max-width: 999px) {
        grid-template-columns: 1fr;
    }
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

main h1, main h2, main h3, main h4 {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 12px;
}

a, a:visited {
    color: colours.$uob-dark-purple;
}