<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/uob-theme.css" | relative_url }}">
    <title>{{site.code}} {{site.name}}</title>
  </head>
  <body>
  
  <header>
    <a href="{{"/" | relative_url}}"><h1>{{ site.code }}</h1></a>
    <h2>{{ site.name }}</h2>
  </header>
  
  <div class="layout">
    <nav>
        {%include nav.html %}
    </nav>
    <main>
      {{ content }}
    </main>
  </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add("main h1, main h2");</script>
  </body>
</html>